:root {
    --primary-bg: #282a37;
    --secondary-Bg: #353748;
    --primary-CTA: #5197ff;
    --active-CTA: #005ce8;
    --primary-text: #E6F0F0;
    --secondary-Text: #cadffe;
    --border-primary: #606483;
    --border-Focused: #5498ff;
    --error: #de4f46;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
}

a {
    color: var(--primary-CTA);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

header {
    text-align: center;
    background-color: var(--secondary-Bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.health-monitor-title {
    font-size: 16px;
}

section {
    margin: 15px 0;
    max-width: 1000px;
}

.table-container {
    max-width: 1000px;
    overflow-x: auto;
    scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    background: var(--secondary-Bg);
}

.table-container::-webkit-scrollbar-thumb {
    background-color:var(--primary-CTA);
    border-radius: 12px;
}

section p {
    margin: 7px 0;
    font-weight: bold;
}


.toc,
.top-contributors {
    margin-left: 5px;
    font-weight: normal;
}

.toc .bull {
    color: #888;
    margin: 0 1px;
}

.top-contributors .bull {
    color: #888;
    margin: 0 2px;
}

.gray {
    color: #888;
}

.toc a {
    text-decoration: none;
}

.loading,
.error {
    margin: 150px 0;
    text-align: center;
    font-size: 11pt;
    color: #333;
}

.loading p,
.error p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.loading-animation {
    margin-top: 50px;
}

.hint {
    color: var(--secondary-Text);
    font-weight: normal;
    max-width: 800px;
}

table {
    border-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 100%;
}

thead td {
    padding: 8px;
    background-color: var(--secondary-Bg);
    text-align: center;
}

.bm-header {
    text-align: left;
}

tbody td {
    padding: 8px 5px;
    background-color: var(--secondary-Bg);
    text-align: center;
}

.legend tbody td {
    text-align: left;
}

.bm {
    padding: 0.1px;
    white-space: pre;
    display: table-cell;
}

.error-message {
    white-space: pre;
}

.healthy {
    color: green;
}

.broken {
    color: var(--red);
}

.online,
.offline,
.joining,
.unreachable {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: table-cell;
    text-align: center !important;
}

.online {
    color: green;
}

.offline {
    padding: 5px;
}

.joining {
    color: darkorange;
}

.unreachable {
    color: var(--error);
}

footer {
    color: var(--secondary-Text);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: var(--secondary-Bg);
}